
.logo{
    height: 3.5rem;
    width: 6rem;
}
/* .navbar{
    background-color: transparent;
} */
.menu a{
    background: rgb(255, 255, 255);
    margin: 0 10px;
    /* color: white; */
    /* height: 40px; */
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.5s ease-in-out;
}
.menu a:hover{
 /* color: white; */
 background-color: black;
 color: orange;
 padding: 5px;
 /* border-radius: 5px; */
 border-bottom-left-radius: 10px;
 border-top-right-radius: 10px;
 font-size: 20px;
}


.body{
    background-image: url(image/1712597105505.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* margin-top: -100px; */
    /* position: fixed; */
    /* margin-top: -74px; */
    
}
.content{
    margin-top: 200px;
}
.h1{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 span{
    background: orange;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}
h1 span:hover{
    color: rgb(220, 221, 223);
    background: black;
    
}

.body .button{
    background: rgb(212, 210, 210);
    border: none;
    outline: none;
    padding: 5px 20px;
    margin: 30px 50px;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.s ease-in-out;
}
.body .button:hover{
    background-color: orange;
    color: #fff;
    /* font-size: 15px; */
}
.social{
    color: #fff;
    margin-top: 100px;
    
   }

.pics{
    margin-top: 120px;
    height: 170px;
    width: 150px;
    border-radius: 50%;
    margin-left: 70px;
    border: 2px solid orange;
}
#about{
    color: #fff;
    /* border: 2px solid orange; */
    padding: 5px;
    margin-top: 5px;

}
.media{    
    height: 30px;
    width: 90px;
    margin-bottom: 100px;
    cursor: pointer;
}
.medias{    
    height: 30px;
    width: 30px;
    margin-bottom: 100px;
    cursor: pointer;
}

#media{
   /* margin-left: 220px; */
}